.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(10px);
    background-color: rgb(255, 255, 255, 0.1);
}

.imgmodal {
    height: auto;
    width: auto;
    /* vertical-align: bottom; */
    margin-bottom: auto;
    min-height: 0;
    min-width: 0;
}

.modal {
    font-size: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    /* vertical-align: middle;  */
    color: black;
    padding: 0;
    margin: 0;
}

li {
    color: black;
    list-style-type: none;
}

h2 {
    color: black;
    font-family: 'star1';
}

.table {
    border-collapse: collapse;
    margin: 20px 20px;
    text-align: center;
    font-family: "roboto";
}

.table td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

.table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table tr:hover {
    background-color: #ddd;
}

.table th {
    text-align: left;
    background-color: grey;
    color: white;
}

.table-div {
    display: block;
}

.transpose-table tr {
    display: inline-block;
    word-break: break-word;
}

.transpose-table th, .transpose-table td {
    display: block;
    word-break: break-word;
}

.close {
    float: right;
    opacity: 0.3;
}

.close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}

.close:hover {
    opacity: 1;
}

.close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}