.table {
  border-collapse: collapse;
  margin: 20px 20px;
  text-align: center;
  font-family: "roboto";
}

.table td,
th {
  border: 1px solid #ddd;
  padding: 8px;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* .table tr:hover {
  background-color: #ddd;
} */

.table th {
  text-align: left;
  background-color: grey;
  color: white;
}

.table-div {
  display: block;
}

.transpose-table tr {
  display: inline-block;
  word-break: break-word;
}

.transpose-table th,
.transpose-table td {
  display: block;
  word-break: break-word;
}
