body {
  margin: 0;
  padding: 0;
  border: 0;
  color: white;
}

@font-face{
  src: url('./fonts/Starjedi.ttf');
  font-family: "star1"
}


@font-face{
  src: url('./fonts/Starjhol.ttf');
  font-family: "star2"
}


@font-face{
  src: url('./fonts/Roboto-Regular.ttf');
  font-family: "roboto"
}
